.negative { background-color: #ffcccc; } 
.positive { background-color: #ccffcc; } 

a{
  text-decoration: none;
  color: #000;
}

.flt{
  transition: color 0.4s ease-in-out;
}


.flt:hover{
  text-decoration: none;
  color: #444040;
}

.modal-header .close {
    outline: none;
    box-shadow: none;
}

.block { 
  overflow: hidden; 
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; 
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}